.Services {
  width: 100%;
}

.Services .Categories {
  width: 96vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Services .Categories .Category {
  min-width: 30vw;
  min-height: 30vw;
  margin-bottom: 2vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
  background-color: white;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  cursor: pointer;
}

.Services .Categories .Category img {
  width: 40%;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.Services .Categories .Category p {
  margin-top: 1.25em;
  font-family: 'Poppins', sans-serif;
  font-size: 80%;
  text-transform: uppercase;
  color: #6D0E2A;
}

.Services .Categories .Active {
  border: 2px solid #A28282;
  min-width: calc(30vw - 4px);
  min-height: calc(30vw - 4px);
}

.Services .Types {
  width: 96vw;
  margin: 0 auto;
  padding: 0.25em 0;
  background-color: white;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.04);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Services .Types .Type {
  width: 100%;
  height: 2.75em;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Services .Types .Type .Name {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  color: #444444;
  margin-left: 1em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Services .Types .Type .Contain {
  width: 1.25em;
  height: 1.25em;
  position: absolute;
  right: 3em;
  top: calc(50% - 1.25em / 2);
  background-image: url("../../assets/icons/tickbox.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.Services .Types .Type .Expand {
  height: 1em;
  width: 1em;
  margin-right: 1em;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Services .Types .Type .ExpandOpen {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.Services .Types .Active {
  width: calc(100% - 2px);
  border-left: 2px solid #A28282;
}

.Services .Types .Active .Name {
  margin-left: 1.5em;
  color: #A28282;
}

.Services .Services {
  width: 96vw;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.04);
  background-color: #F6F6F6;
  padding: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.Services .Services .Service {
  width: 95%;
  margin: 0 auto;
  padding: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.Services .Services .Service .Line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Services .Services .Service .Line .Name, .Services .Services .Service .Line .Price {
  font-size: 0.8em;
  margin-bottom: 0.35em;
  color: #444444;
}

.Services .Services .Service .Line .Name {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

.Services .Services .Service .Line .Price {
  font-family: 'Poppins', sans-serif;
  text-align: right;
}

.Services .Services .Service .Line .Time {
  font-family: 'Poppins', sans-serif;
  font-size: 0.65em;
  text-align: left;
  color: #CFCFCF;
}

.Services .Services .Service .Line .Discount {
  font-family: 'Poppins', sans-serif;
  font-size: 0.65em;
  text-align: right;
  color: #A28282;
}

.Services .Services .ActiveService {
  width: calc(95% - 1em - 2px);
  padding-left: 1em;
  border-left: 2px solid #A28282;
}

.Services .Services .ActiveService .Line .Name {
  color: #A28282;
}

.Services .Services .Book {
  width: 95%;
  height: 3em;
  margin: 0.5em auto 0;
  background-color: #d3d3d3;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  line-height: 3em;
  color: white;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.Services .Services .ActiveBook {
  background-color: #A28282;
  pointer-events: auto;
}

.Services .Services .ActiveBook:hover {
  background-color: #8a6767;
}

@media (min-width: 720px) {
  .Services {
    width: 90vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .Services .Categories .Category {
    min-width: 14vw;
    min-height: 14vw;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .Services .Categories .Category:hover {
    background-color: #F6F6F6;
  }
  .Services .Categories .Active {
    min-width: calc(14vw - 4px);
    min-height: calc(14vw - 4px);
  }
  .Services .Categories .Active:hover {
    background-color: white;
  }
  .Services .Types {
    width: 40%;
    margin: 0;
  }
  .Services .Types .Type:hover .Name {
    margin-left: 1.5em;
  }
  .Services .Types .Type .Contain {
    right: 1em;
  }
  .Services .Types .Type img {
    display: none;
  }
  .Services .Types .Active:hover .Name {
    margin-left: 1.25em;
  }
  .Services .Types .Active .Name {
    margin-left: 1.25em;
  }
  .Services .Services {
    width: 57.5%;
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: white;
    font-size: 1.2em;
  }
  .Services .Services .Service {
    width: 90%;
    margin: 0;
  }
  .Services .Services .Service:hover {
    margin-left: 1em;
    width: calc(90% - 1em);
  }
  .Services .Services .ActiveService {
    width: calc(90% - 1em - 2px);
  }
  .Services .Services .ActiveService:hover {
    margin-left: 0;
    width: calc(90% - 1em - 2px);
  }
  .Services .Services .Book {
    width: 40%;
    height: 2.9em;
    margin: 0.75em 0 0.25em;
    font-size: 0.7em;
    line-height: 2.9em;
  }
}

@media (min-width: 1025px) {
  .Services {
    width: 80vw;
  }
  .Services .Categories .Category {
    min-width: 11.5vw;
    min-height: 11.5vw;
  }
  .Services .Categories .Category p {
    margin-top: 2.5em;
    font-size: 90%;
  }
  .Services .Categories .Active {
    min-width: calc(11.5vw - 4px);
    min-height: calc(11.5vw - 4px);
  }
  .Services .Types .Type {
    font-size: 1.05em;
  }
  .Services .Services {
    padding: 0.75em 0;
  }
  .Services .Services .Service {
    font-size: 1.05em;
  }
}
/*# sourceMappingURL=Services.module.css.map */