.Banner {
  width: 100%;
  height: calc(100vh - 4em);
  margin-top: 4em;
}

.Banner .Main {
  width: 100%;
  height: calc(100vh - 4em - 3vh);
  background-color: #D6BCBC;
}

.Banner .Main .Holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  width: 100%;
}

.Banner .Main .Holder .Text {
  width: 90%;
  margin: 0 auto;
}

.Banner .Main .Holder .Text h2 {
  font-family: 'Satisfy', cursive;
  font-size: 6vh;
  color: white;
}

.Banner .Main .Holder .Text h1 {
  font-family: 'Suranna', serif;
  font-size: 7vh;
  text-transform: uppercase;
  color: #444444;
}

.Banner .Main .Holder .Text .Line {
  width: 4em;
  height: 3px;
  margin: 2.5vh 0;
  background-color: white;
}

.Banner .Main .Holder .Text p {
  font-family: 'Poppins', sans-serif;
  font-size: 4vw;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  color: #616161;
}

.Banner .Main .Holder .Text a {
  display: block;
  width: 11em;
  height: 3.5em;
  line-height: 3.5em;
  font-size: 0.8em;
  font-family: 'Poppins', sans-serif;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.04);
  color: #6D0E2A;
  text-align: center;
  text-decoration: none;
  background-color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Banner .Main .Holder .Text a:hover {
  background-color: #A28282;
  color: white;
}

.Banner .Main .Holder .Images {
  width: 100%;
  margin-bottom: 2.5vh;
}

.Banner .Main .Holder .Images .Image {
  display: none;
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Banner .Main .Holder .Images .Active {
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Banner .Main .Dots {
  display: none;
}

.Banner .Scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6vh;
  height: 6vh;
  margin: -3vh auto 0;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.06);
  background-color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Banner .Scroll:hover {
  background-color: #A28282;
  color: white;
}

.Banner .Scroll:hover .Arrow {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.Banner .Scroll .Arrow {
  height: 40%;
  width: 40%;
  background-image: url("../../assets/icons/scroll.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 720px) {
  .Banner {
    height: auto;
    margin-top: 5em;
  }
  .Banner .Main {
    height: auto;
    padding: 3.5em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Banner .Main .Holder {
    width: 90%;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Banner .Main .Holder .Text {
    width: 45vw;
    height: 45vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Banner .Main .Holder .Text h2 {
    font-size: 6vw;
    margin: 0;
  }
  .Banner .Main .Holder .Text h1 {
    font-size: 7.75vw;
    margin: 0;
  }
  .Banner .Main .Holder .Text .Line {
    margin: 1.5vh 0;
  }
  .Banner .Main .Holder .Text p {
    font-size: 2vw;
    margin: 0 0 0.5em;
    width: 87.5%;
  }
  .Banner .Main .Holder .Images {
    width: 45vw;
    height: 45vw;
    margin: 0;
    position: relative;
  }
  .Banner .Main .Holder .Images .Image {
    display: block;
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
    width: 42.5vw;
    height: 42.5vw;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .Banner .Main .Holder .Images .Active {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    -webkit-box-shadow: 0 2px 44px rgba(0, 0, 0, 0.16);
            box-shadow: 0 2px 44px rgba(0, 0, 0, 0.16);
    z-index: 100;
    -webkit-filter: none;
            filter: none;
  }
  .Banner .Main .Holder .Images .Hidden {
    display: none;
  }
  .Banner .Main .Dots {
    display: block;
    position: absolute;
    right: 0;
  }
  .Banner .Main .Dots .Dot {
    width: 0.75em;
    height: 0.75em;
    margin: 5px 1.75vw 5px 0;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .Banner .Main .Dots .Dot:hover {
    background-color: #A28282;
  }
  .Banner .Main .Dots .Active {
    background-color: #6D0E2A;
  }
  .Banner .Main .Dots .Active:hover {
    background-color: #6D0E2A;
  }
  .Banner .Scroll {
    width: 5vh;
    height: 5vh;
    margin: -2.5vh auto 0;
  }
}

@media (min-width: 1025px) {
  .Banner {
    height: calc(100vh - 5em);
  }
  .Banner .Main {
    height: calc(100vh - 5em - 4vh);
    padding: 0;
  }
  .Banner .Main .Holder {
    width: 85%;
    height: 80%;
    margin: 0 auto;
  }
  .Banner .Main .Holder .Text {
    height: 100%;
    width: calc(100vw - (100% - 30%));
    margin: 0;
  }
  .Banner .Main .Holder .Text h2 {
    font-size: 6vw;
  }
  .Banner .Main .Holder .Text h1 {
    font-size: 7vw;
  }
  .Banner .Main .Holder .Text .Line {
    width: 5em;
    height: 4px;
    margin: 1.5vh 0;
  }
  .Banner .Main .Holder .Text p {
    font-size: 1.25em;
    margin: 0 0 0.5em;
    width: 90%;
  }
  .Banner .Main .Holder .Text a {
    font-size: 1em;
  }
  .Banner .Main .Holder .Images {
    width: 40vw;
    height: 40vw;
    max-width: calc((100vh - 5em - 4vh) * 0.8);
    max-height: 100%;
  }
  .Banner .Main .Holder .Images .Image {
    height: 90%;
    width: 90%;
  }
  .Banner .Scroll {
    width: 6.5vh;
    height: 6.5vh;
  }
}
/*# sourceMappingURL=Banner.module.css.map */