$dark1: #444444;
$dark2: #616161;

.Spinner {
    display: inline-block;
    width: 80px;
    height: 80px;

    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: $dark1 transparent $dark1 transparent;
        animation: Spinner 1.2s linear infinite;
    }
}

@keyframes Spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  