.Schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-direction: column;
      flex-direction: column;
}

.Schedule .Main {
  width: 100%;
}

.Schedule .Main .Month {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Schedule .Main .Month .Text {
  font-family: 'Poppins', sans-serif;
  font-size: 1.35em;
  color: #444444;
}

.Schedule .Main .Month .Previous, .Schedule .Main .Month .Next {
  background: none;
  border: none;
  width: 0.85em;
  height: 0.85em;
  background-image: url("../../../assets/icons/scroll.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: brightness(0) invert(0.75);
          filter: brightness(0) invert(0.75);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.Schedule .Main .Month .Previous:hover, .Schedule .Main .Month .Next:hover {
  -webkit-filter: none;
          filter: none;
}

.Schedule .Main .Month .Previous:disabled, .Schedule .Main .Month .Next:disabled {
  visibility: hidden;
}

.Schedule .Main .Month .Previous {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.Schedule .Main .Month .Next {
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.Schedule .Main .Days {
  width: 95%;
  margin: 1.25em auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Schedule .Main .Days .Day {
  text-align: center;
  position: relative;
}

.Schedule .Main .Days .Day .Name {
  font-family: 'Poppins', sans-serif;
  font-size: 0.7em;
  font-weight: 300;
  margin-bottom: 1em;
  color: #616161;
}

.Schedule .Main .Days .Day .Number {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
  z-index: 600;
  position: relative;
  color: #444444;
  width: 1.75em;
  height: 1.75em;
  display: block;
  text-align: center;
  line-height: 1.75em;
  border-radius: 50%;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  cursor: pointer;
}

.Schedule .Main .Days .Day .Number:hover {
  background-color: #f3f3f3;
}

.Schedule .Main .Days .Day .ActiveDay {
  background-color: #D6BCBC;
  color: white;
}

.Schedule .Main .Days .Day .ActiveDay:hover {
  background-color: #D6BCBC;
}

.Schedule .Main .Line {
  width: 7em;
  height: 1px;
  margin: 0.75em auto 1em;
  background-color: #D6BCBC;
}

.Schedule .Main .Options {
  width: 100%;
  margin: 0 auto 1.5em;
  height: 30vh;
  overflow-y: auto;
}

.Schedule .Main .Options .Unavailable {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Schedule .Main .Options .Unavailable .Text {
  font-family: 'Poppins', sans-serif;
  font-size: 1.15em;
  line-height: 1.5em;
  text-align: center;
  color: #444444;
}

.Schedule .Main .Options .Option {
  height: 3em;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  margin: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  cursor: pointer;
}

.Schedule .Main .Options .Option:hover {
  background-color: #f3f3f3;
}

.Schedule .Main .Options .Option .Time {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin-left: 1.5em;
  color: #444444;
}

.Schedule .Main .Options .Option .Select {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #BEBEBE;
  margin-right: 1.25em;
}

.Schedule .Main .Options .Option .Tick {
  display: none;
}

.Schedule .Main .Options .ActiveTime {
  background-color: #D6BCBC;
  -webkit-box-shadow: 0 0 6px rgba(214, 188, 188, 0.33);
          box-shadow: 0 0 6px rgba(214, 188, 188, 0.33);
}

.Schedule .Main .Options .ActiveTime:hover {
  background-color: #D6BCBC;
}

.Schedule .Main .Options .ActiveTime .Time {
  font-weight: 400;
  color: white;
}

.Schedule .Main .Options .ActiveTime .Select {
  display: none;
}

.Schedule .Main .Options .ActiveTime .Tick {
  display: block;
  width: 1em;
  height: 1em;
  margin-right: 1.5em;
  background-image: url("../../../assets/icons/tick.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.Schedule .Submit {
  border: none;
  background: none;
  width: 55%;
  height: 3em;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  color: white;
  background-color: #A28282;
  border-radius: 25px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.Schedule .Submit:hover {
  background-color: #8a6767;
}

.Schedule .Submit:disabled {
  background-color: #e7e7e7;
}

@media (min-width: 720px) {
  .Schedule {
    font-size: 1.5em;
  }
  .Schedule .Submit {
    width: 45%;
    border-radius: 35px;
    font-size: 0.9em;
  }
}

@media (min-width: 1025px) {
  .Schedule {
    font-size: 1em;
  }
}
/*# sourceMappingURL=Schedule.module.css.map */