.Appointments {
    width: 90%;
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 720px) {
    .Appointments {
        width: 70vw;
    }
}

@media (min-width: 1025px) {
    .Appointments {
        width: 60vw;
    }
}
