$eunry1: #D6BCBC;
$eunry3: #A28282;
$dark1: #444444;
$dark2: #616161;

.Success {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    flex-direction: column;

    .Main {
        width: 100%;

        .Meta {
            width: 100%;
            
            display: flex;
            justify-content: center;
            align-items: center;

            margin-bottom: 1.5em;

            .Text {
                font-family: 'Poppins', sans-serif;
                font-size: 1.35em;

                color: $dark1;
            }
        }

        .Tick {
            width: 40vw;
            height: 40vw;

            margin: 2em auto;

            background-size: contain;
            background-image: url('../../../assets/icons/tickbox.png');
            background-repeat: no-repeat;
        }
        
        .Description {
            max-width: fit-content;

            margin: 1.5em auto;

            .Info {
                font-family: 'Poppins', sans-serif;
                font-size: 0.9em;
                font-weight: 300;

                line-height: 1.25em;
                text-align: center;

                color: $dark2;

                span {
                    text-decoration: underline;
                }
            }
        }
    }

    .Submit {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        text-align: center;

        .Button {
            border: none;
            background: none;

            width: 55%;
            height: 3em;

            font-family: 'Poppins', sans-serif;
            font-size: 0.9em;

            color: white;
            background-color: $eunry3;
            border-radius: 25px;

            transition: all 0.15s;

            &:hover {
                background-color: darken($eunry3, 10);
            }

            &:disabled {
                background-color: rgb(231, 231, 231);
            }
        }
    }
}

@media (min-width: 720px) {
    .Success {
        font-size: 1.5em;

        .Main {
            font-size: 0.8em;

            .Tick {      
                width: 25vw;
                height: 25vw;          
            }
        }

        .Submit {
            .Button {
                width: 45%;
                border-radius: 35px;
                font-size: 0.9em;
            }
        }
    }
}

@media (min-width: 1025px) {
    .Success {
        font-size: 1em;
        
        .Main {
            font-size: 1em;
            .Tick {      
                width: 12vw;
                height: 12vw;          
            }
        }
    }
}