$dark1: #444444;
$dark2: #616161;

.Preview {
    width: 100%;
    margin: 0 auto;

    .Meta {
        width: 100%;

        display: flex;
        align-items: center;

        margin-bottom: 0.5em;

        .Description {
            width: 50%;
            margin-left: 0.75em;

            font-family: 'Poppins', sans-serif;
            font-size: 1em;

            color: $dark1;

            &:nth-child(2n) {
                display: none;
            }
        }
    }

    .Messages {
        width: 100%;

        max-height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;
        
        .Message {
            height: 3em;

            margin-bottom: 0.75em;

            border-radius: 50px;
            border: 0.5px solid #E1E1E1;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all 0.3s;
            
            &:nth-child(2n) {
                background-color: #F5F5F5;
            }

            &:hover {
                box-shadow: 0px 0 8px rgba(0, 0, 0, 0.06);
                cursor: pointer;
            }

            .Info {
                width: 50%;

                &:nth-child(1) {
                    .Text {
                        border: none;
                        margin-left: 0.5em;
                    }
                }

                .Text {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 300;
                    font-size: 1em;
                    text-overflow: ellipsis;

                    color: $dark2;
                    
                    overflow: hidden;
                    white-space: nowrap;

                    width: 80%;
                    padding: 0.5em 0 0.5em 0.75em;

                    border-left: 0.5px solid rgba(0, 0, 0, 0.25);
                }
                
                &:nth-child(2n) {
                    display: none;
                }
            }
        }
    }

    .Total, .Back {
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        color: $dark1;
        
        margin: 0.5em 0 0 0.75em;
    }
    
    .Back {
        margin-top: 0;
        padding-bottom: 1em;

        background: none;
        border: none;
        outline: none;

        text-decoration: underline;
        cursor: pointer;
    }
}

.Empty {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;

    margin-bottom: 2em;

    text-align: center;

    color: $dark1;
}

@media (min-width: 720px) {
    .Preview {
        .Meta {
            .Description {
                width: 33%;

                &:nth-child(4) {
                    display: block;
                }
            }
        }

        .Messages {
            .Message {
                .Info {
                    width: 33%;

                    &:nth-child(4) {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .Preview {
        .Meta {
            .Description {
                width: 25%;

                &:nth-child(2) {
                    display: block;
                }
            }
        }

        .Messages {
            .Message {
                height: 4em;

                .Info {
                    width: 25%;

                    &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }
    }
}
