.Testimonials {
  width: 100%;
}

.Testimonials .Wrapper {
  width: 96vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Testimonials .Wrapper .Arrow {
  width: 2.25em;
  height: 2.25em;
  background-color: white;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.Testimonials .Wrapper .Arrow:first-child {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.Testimonials .Wrapper .Arrow:last-child {
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.Testimonials .Wrapper .Arrow img {
  width: 35%;
  height: 35%;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.Testimonials .Wrapper .Review {
  width: 75%;
  padding: 2em 0;
  background-color: white;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Testimonials .Wrapper .Review .Container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
}

.Testimonials .Wrapper .Review .Container .Name {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  color: #444444;
}

.Testimonials .Wrapper .Review .Container .Text {
  margin: 1em 0;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1.5em;
  color: #444444;
}

.Testimonials .Wrapper .Review .Container .Stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Testimonials .Wrapper .Review .Container .Stars .Star {
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.2em;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.Testimonials .Wrapper .Active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 720px) {
  .Testimonials .Wrapper {
    width: 75vw;
  }
  .Testimonials .Wrapper .Arrow {
    width: 2.75em;
    height: 2.75em;
  }
  .Testimonials .Wrapper .Review {
    width: 70%;
  }
  .Testimonials .Wrapper .Review .Container {
    font-size: 1.35em;
  }
  .Testimonials .Wrapper .Review .Container .Text {
    width: 90%;
    line-height: 1.5em;
    margin: 1.5em 0;
  }
  .Testimonials .Wrapper .Review .Container .Stars {
    font-size: 0.7em;
  }
}

@media (min-width: 1025px) {
  .Testimonials .Wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2em 0;
  }
  .Testimonials .Wrapper .Arrow {
    display: none;
  }
  .Testimonials .Wrapper .Review {
    width: 25%;
    min-width: 22vw;
    min-height: 35vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Testimonials .Wrapper .Review:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .Testimonials .Wrapper .Review:nth-child(2n) {
    margin: 0 3.5em;
  }
  .Testimonials .Wrapper .Review .Container {
    font-size: 1em;
  }
  .Testimonials .Wrapper .Active {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  .Testimonials .Wrapper .Active:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
/*# sourceMappingURL=Testimonials.module.css.map */